<h1>RSS Gather Site</h1>

サイトURLの登録は
<%= link_to 'こちら', rss_urls_path %>

<hr>
<% @rss_contents.each do |parent| %>
<table>
  <tr>
    <td><%= parent.name %></td>
  </tr>
  <% parent.subContent.each do |child| %>
  <tr>
    <td><%= link_to child.title, child.link %></td>
  </tr>
  <% end %>
</table>
<hr>
<% end %>

