/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h3 {
  MARGIN: 0px;
  PADDING: 5px;
  COLOR: black;
  FONT-SIZE: 14px;
  FONT-WEIGHT: bold;
  BORDER-COLOR: lightPink;
  BORDER-WIDTH: 0px 0px 1px 10px;
  BORDER-STYLE: solid;
}

div.actions {
  TEXT-ALIGN: right;
}

div.small_font {
  FONT-SIZE: 10px;
}

a:hover {
  COLOR: white;
  BACKGROUND-COLOR: blue;
}

a:visited {
  TEXT-DECORATION: none;
}

a:link {
  COLOR: blue;
  TEXT-DECORATION: none;
}

a.black:hover {
  COLOR: white;
  BACKGROUND-COLOR: blue;
}

a.black:visited {
  COLOR: black;
  TEXT-DECORATION: none;
}

a.black:link {
  COLOR: black;
  TEXT-DECORATION: none;
}

a:hover:-webkit-any-link {
  COLOR: white;
  CURSOR: auto;
}

table {
  WIDTH: 100%;
}

ul {
  MARGIN: 0px 0px 20px 0px;
  PADDING: 5px;
  DISPLAY: block;
}

li {
  PADDING: 2px 5px 2px 5px;
  BORDER-COLOR: #DDF;
  BORDER-WIDTH: 0px 0px 1px 0px;
  BORDER-STYLE: solid;
  LIST-STYLE: none;
}

div, li {
  MARGIN: 0px;
  PADDING: 0px;
}

